body{
    background-color:#BBD7FE;
}
.list{
    width: 500px;
    list-style: circle inside;
    background-color:white;
    padding:15px;
}
#main_section{
    background-color: #F7F7F7;
    width: 1500px;
    height: 940px;
    float: right;
}
.listSubmit{
    width:600px;
    height: 45px;
    background-color:#C0E5FA;
    border: none;
    color: #79B4DC;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}
.textbox{
    width:500px;
    margin: 5px 0;
    border: 0px;
    background-color:#E1F7FF;
}
.singleList{
    display: flex;
    width: 600px;
    height: 45px;
    background-color: #E1F7FF;
    border-radius: 16px;
    margin:5px;
    align-items: center;
}
.input_List{
    width: 600px;
    height: 45px;
    background-color:#C0E5FA;
    border-radius: 16px;
    margin:5px;
}
.Todo{
    display: block;
    width: 600px;
    margin: 30px;
    background-color: white;
    padding:30px;
    padding-top: 20px;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid #79B4DC;
    appearance: none;
    cursor: pointer;
    transition: background 0.2s;
}

input[type="checkbox"]:checked {
    background:#79B4DC;
    border: none;
}

#date{
    color:#7AA3BE;
    padding-left:70px;
}
#health{
    padding:30px;
    padding-top: 20px;
    color:#476E88;
    font-size: 30px;
}
.checks{
    vertical-align: middle;
}
.textbox{
    padding:2px;
    width: 550px;
    height: 27px;
    margin-left: 5px;
    font-size: 25px;
}
